:root {
   --color-blue: #26619C;
   --color-gray: #777e85;
}

.cards-main {
   padding-top: 50px;
}

.card-content {
   width: 400px;
}



.swiper-slide {
   margin-right: 30px;
   flex: 1;
   background: var(--color-blue);
   color: white;
   padding: 40px;
   border-radius: 10px;
}

.know {
   gap: 10px;
}

.svg {
   background-color: #fff;
   padding: 2px 4px;
   border-radius: 50%;
   margin-bottom: 10px;
}

.svg svg {
   font-weight: 800;
}

@media screen and (max-width: 560px) {
   .swiper-slide {
      margin-right: 10px;
      width: 100%;
   }

   .card-content {
      width: 100%;
   }

   .swiper-container {
      overflow-x: hidden;
     width: 100%;
   }

   .card-content p{
      padding-right: 20px;
   }
}



@media screen and (max-width: 768px) {

   .swiper-container {
      overflow-x: hidden;

   }

   .container {
      display: flex;
      justify-content: center;
      align-items: center;
   }
}