:root {
  --color-blue: #26619C;
  --color-gray: #777e85;
}

.cards-main{
   padding-top: 50px;
}


.card-content {
  flex: 0 0 auto;
  margin-right: 30px;
  background: var(--color-blue);
  color: white;
  padding: 40px;
  scroll-snap-align: start;
  scroll-snap-stop: always; 
  border-radius: 10px;

}

.know{
   gap:10px;
}

.svg{
  background-color: #fff;
 padding: 2px 4px;
 border-radius: 50%;
   margin-bottom: 10px;
   }

   .svg svg{
      font-weight: 800;
   }


   @media screen and (max-width:560px) {
      .card-content {
  
  padding: 20px;


}
   }